.logon-container {
    width: 100%;
    max-width: 1150px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 30px;
    margin-left: 18px;
    margin-bottom: 30px;
    color: #41414D;
}

.logon-container section.form form input {
    border: 2px solid #DCDCE6;
    transition: 0.2s;
    transition-property: border;
}

.logon-container section.form form input:focus {
    border: 2px solid #999999;
}